#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calc {
  margin: auto;
  border: 3px solid black;
  width: 500px;
  height: 700px;
}

.calc-display {
  text-align: right;
  padding-right: 50px;
  padding-left: 50px;
  height: 20%;
}

.calc-buttons {
  height: 80%;
}

.calc-row {
  height: 100px;
}

.calc-button {
  text-align: center;
  width: 100px;
  height: inherit;
}
